<div class="text-dark ms-5 p-3"><h5>{{aim}}</h5> </div>
<div class="container w-25 bg-light border mt-5 p-3"style="background:rgba(57, 87, 79, 0.5);border-radius: 25px;">
    <h1 class="text-center text-dark">Login Page</h1>
<form (ngSubmit)="login()">
        <div class="mt-2 p-2">
            <input name="acnum" type="text" [placeholder]="acnt" [(ngModel)]="acno" placeholder="username" class="form-control" id="acid">
        </div>
        <div class="mt-2 p-2">
            <input name="psw" type="password" placeholder="Password" [(ngModel)]="psw" placeholder="password" class="form-control" id="pid">
        </div>
        <div class="text-center mt-2 p-2">
            <button type="submit" class="btn btn-success">Login</button><br><br>
            <p class="text-dark">new user? <a href="" style="text-decoration:none;" routerLink="register" class="text-info">register</a> </p>
        </div>

</form>      
 </div>

    <!-- <div class=""><h2>{{aim}}</h2></div>
   
         <div class="col-24 container w-50 mt-5 bg-light rounded p-5">
          <div class="d-grid">
              
                    <h4 class="pt-4 pb-4 fw-bold mx-auto" style=color:rgb(67,95,153);>Sign In </h4>
                        <input name="acno" type="text"  [placeholder]="acnt" [(ngModel)]="acno"  class="mb-4 p-2 col-md-12 col-lg-12 col-sm-12">
                        <input  name="pswd"  type="text"  [placeholder]="psw"   [(ngModel)]="pswd" class="mb-5 p-2 ">
                         <button class="mb-4 mx-auto" (click)="login()"  type="button">SIGN IN</button>
                         <i class="mx-auto">Dont have an account? <a href="" routerLink="register" >Register</a> </i> 
                     </div>
                    </div> -->
